*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
h3.title__main{
    font-size:40px;
    line-height: 50px;
    position: relative;
    font-weight: bold
}
h3.title__main::before, h3.title__main::after{
    content: "";
    position: absolute;
    background-color: #707070;
    width: 60px;
    height: 2px;
    right: 0;
    margin: 0 auto;
}
h3.title__main::before{
    left: -20px;
    bottom: -8px;
}
h3.title__main::after{
    left: 20px;
    bottom: -15px;
}
h3.title__main span{
    color: #ff6e65;
}
a{
    text-decoration: none;
}
.button__carousel{
    padding: 14px 25px;
    color: #060606;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    transition: all 0.5s;
    width: 20%;
}
.button__carousel i{
    margin-left: 5px;
}
.button__carousel:hover{
    background-color: #ff6e65;
    color: #fff;
}
.btn-style{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all 0.5s;
}
a.btn-style:hover{
    background:#ff6e65 !important;
    color: #fff !important;
}
.container__welcome{
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */
.header__top{
    background-color: #0d369f;
    padding: 14px 15px 0;
}
.header__top ul{
    list-style: none;
}
.header__top li{
    display: inline;
    margin-right: 20px;
}
.header__top a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.header__top i{
    font-size: 15px;
    margin-right: 8px;
    transition: all 0.5s;
}
.header__top .header__top__contact li span{
    transition: all 0.5s;
}
.header__top .header__top__contact li:hover span{
    color:#ff6e65;
}
.header__top .header__top__social li:hover i{
    color: #ff6e65;
}
.header__bottom .form-control{
    border-radius: 30px;
    padding: 10px 35px 10px 20px;
    font-size: 15px;
    color: #060606;
    background: transparent;
}
.header__bottom .form-control:focus{
    border: 2px solid #eee;
    box-shadow: none;
}
.header__bottom form{
    position: relative;
}
.header__bottom form i{
    position: absolute;
    right: 25px;
    top:15px;
    transition: all 0.5s;
    cursor: pointer;
    color: #0d369f;
}
.header__bottom form i:hover{
    color: #ff6e65;
}
.header__bottom h1 a{
    transition: all 0.5s;
    font-size: 30px;
    color: #0d369f;
    margin-bottom: 0;
    font-weight: 600;
}
.header__bottom h1:hover a{
    color: #ff6e65;
}
.header__bottom .navbar-nav .nav-item .nav-link.active{
    color: #ff6e65;
    font-weight: 600;

}
.header__bottom .navbar-nav .nav-item .nav-link{
    color: #060606;
    font-weight: 600;
    transition: all 0.5s;
}
.header__bottom .navbar-nav .nav-item .nav-link:hover {
    color: #ff6e65;
}
.header__bottom .dropdown-menu .dropdown-item{
    color: #060606;
    font-weight: 600;
    background: none;
    transition: all 0.5s;
}
.header__bottom .dropdown-menu a.dropdown-item:hover{
    color:#ff6e65;
}
.darkmode i{
    color: #0d369f;
    font-size: 25px;
    transition: all 0.5s;
}
.darkmode:hover i{
    color: #ff6e65;
}
.navbar-toggler{
    background-color: #0d369f;
    color: #fff;
}
/* CAROUSEL */
.carousel{
    background-image: url(./../../img/bg4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel .carousel__text{
    padding: 120px 0;
    color: #fff;
}
.carousel .carousel__text h4{
    margin-bottom: 16px;
    font-weight: bold;
}
.carousel .carousel__text a, .carousel .carousel__text span{
    font-size: 15px;
    color: #d4d4d4;
    opacity: 0.8;
}
.carousel .carousel__text i{
    color: #d4d4d4;
    opacity: 0.8;
    font-size: 10px;
}
/* MAP */
.map .map__left{
    padding-left: 10%;
}
.map .map__left h3{
    font-weight: bold;
    font-size: 28px;
    color: #060606;
}
.map .map__left .map__item .map__item__left i{
    color: #ff6e65;
    font-size: 20px;
}
.map .map__left .map__item .map__item__right h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #060606;
}
.map .map__left .map__item .map__item__right p{
    color: #707070;
}
.map .map__left .map__item .map__item__right a{
    color: #707070;
    transition: all 0.5s;
}
.map .map__left .map__item .map__item__right a:hover{
    color: #ff6e65;
}

/* QUESTIONS */
.questions .container{
    max-width: 1000px;
}
.questions .question__left img{
    border-radius: 8px;
}
.questions .question__right form input, .questions .question__right textarea{
    font-size: 15px;
    padding: 14px;
    background: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 16px;
    border-radius: 8px;
    outline: none;
}
.questions .question__right form input:focus, .questions .question__right textarea:focus{
    border:1px solid #ff6e65;
}
.questions .question__right button{
    padding: 14px 30px;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
    background: #ff6e65;
    border: none;
    transition: all 0.5s;
}
.questions .question__right button:hover{
    background:#0d369f;
}

/* FOOTER */
footer{
    margin-top: 100px;
}
footer .footer__top{
    max-width: 1000px;
    margin:0 auto;
    background-color: #fff;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    border-radius: 10px;
    padding: 50px;
    position: relative;
    margin-bottom: -75px;
}
footer .footer__top .footer__text h4{
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
    color: #060606;
}
footer .footer__top .footer__form input{

}
footer .footer__top .footer__text p{
    color: #707070;
    font-size: 15px;
}
footer .footer__top .footer__form input{
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid #eee;
    color: #060606;
    border-radius: 8px 0 0 8px;
    width:70%;
}
footer .footer__top .footer__form input:focus{
    color: #495057;
    background:#fff;
    border-color: #91e6c4;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
footer .footer__top .footer__form button{
    background-color: #0d369f;
    padding: 14px 30px;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    color: #fff;
    transition: all 0.5s;
}
footer .footer__top .footer__form button:hover{
    opacity: 0.9;
}
footer .footer__bottom{
    padding: 150px 0 100px;
    background-color: #060e1f;
}
footer .footer__bottom .footer__item h6{
    color: #fff;
    line-height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
footer .footer__bottom .footer__item ul{
    list-style: none;
    padding: 0;
}
footer .footer__bottom .footer__item ul li{
    margin-bottom: 10px;
}
footer .footer__bottom .footer__item ul li a, footer .footer__bottom .footer__item p{
    color: #cecece;
    font-size: 14px;
    line-height: 24px;
}
footer .footer__bottom .footer__item ul li a i{
    margin-right: 10px;
}
footer .footer__bottom .footer__item ul li a{
    transition: all 0.5s;
}
footer .footer__bottom .footer__item ul li a:hover{
    color: #fff;
}
footer .footer__bottom .footer__item:last-child{
    border-left: 1px solid rgb(64 73 82 / 51%);
}
footer .footer__bottom .footer__item:last-child .footer__social i{
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.06);
    font-size: 15px;
    transition: all 0.5s;
}
footer .footer__bottom .footer__item:last-child .footer__social a:hover i{
    opacity: 0.8;
}
footer .footer__copyrights{
    background-color: #060e1f;
    color: #a0a0a0;
    font-size: 15px;
    padding-bottom: 20px;
}
footer .footer__copyrights span{
    color: #ffff;
    position: relative;
}
footer .footer__copyrights span::before{
    content: "";
    background-color: #fff;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    transition: all 0.5s;
}
footer .footer__copyrights span:hover::before{
    width: 100%;
}

/* BACK TO TOP */
.backtotop{
    position: fixed;
    right: 15px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.backtotop i{
    font-size: 2rem;
    color:#fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #0d369f;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:991.98px){
    /* HEADER */
    .header__content{
        display: none;
        position: relative;
    }
    .header__bottom form{
        margin-top: 20px;
    }
    .darkmode i{
        position: absolute;
        top: 25px;
        right:100px;
    }
    .navbar-nav .dropdown-menu{
        border: none;
    }
    li.nav-item{
        margin-left: 0 !important;
    }
    .question__right{
        margin-top: 15px;
    }
}